/* ==================
 SCSS VARIABLES
================== */

$bg: var(--background-color, #E3E3E3);
$color: var(--text-color, #404040);

$offbg: var(--off-background-color, #F1F1F1);
$color-offbg: var(--off-background-text-color, #404040);

$form: var(--form-background-color, #fbfbfb);
$color-form: var(--form-text-color, #404040);

$shadow: rgba(#000,.1);

/* accent colors */
$a1: var(--accent1, #DB7840);
$a2: var(--accent2, #C4D6BC);
$color-a1: var(--accent1-text-color, #F1F1F1);
$color-a2: var(--accent2-text-color, #404040);

$rem: calc(var(--text-size, 16) * 1px);

/* ==================
 COLOR FUNCTIONS FOR CSS VARIABLES
================== */

@function alpha($color, $amount: 50%) {
    @return color-mix(in srgb, $color $amount, transparent);
}

@function mix($color1, $color2, $amount: 50%) {
    @return color-mix(in srgb, $color1 $amount, $color2);
}

@function lighten($color, $amount: 50%) {
    @return color-mix(in srgb, #fff $amount, $color);
}

@function darken($color, $amount: 50%) {
    @return color-mix(in srgb, #000 $amount, $color);
}

@function rem($multi: 1) {
    @return calc(var(--text-size, 16) * $multi * 1px);
} 