/* scss variables */
@use '@css/SharedVariables.scss' as *;

#app {
  display: grid;
  grid-template-columns: 100%;
  font-size: $rem;
  height: 100%;
  grid-template-rows: min-content 1fr;
}

#app > #header {
  width: 100%;
  border-bottom: 1.5px $a1 solid;
  display: grid;
  grid-template-columns: auto 1fr;
  background: $a2;
  .logout {
      justify-self: flex-end;
      align-self: flex-end;
      padding: 14px 10px 7px;
      box-sizing: border-box;
      margin: 0;
      width: 7em;
  }
  .links {
      column-gap: 4px;
      padding: 14px 10px 7px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
  }
  a, button {
      box-sizing: border-box;
      display: block;
      padding: 8px 14px 4px;
      margin: 4px 4px -7px 4px;
      border-radius: 5px 5px 0 0;
      font: 650 rem(.98)/1 "Nunito";
      transition: .25s ease;
      text-align: center;
      cursor: pointer;
      box-shadow: 0 -2px 5px $shadow;

      &:nth-of-type(1n) { background: $a1; color: $color-a1 }
      &:nth-of-type(2n) { background: $bg; color: $color }
      &:nth-of-type(3n) { background: $a2; color: $color-a2 }

      &:hover { font-weight: 800;}
  }
}

#wrapper {
  width: 100%;
  padding: 80/1000*100vw;
  box-sizing: border-box;
  margin: auto;
  height: 100%;
  overflow: auto;
  background: $bg;
  color: $color;
}

#wrapper > div {
  box-shadow: 0 0 4px $shadow;
  border-radius: 8px;
  background: var(--bg);
  max-width: 900px;
  margin: auto;
}
.page_h1 {
  border-radius: 8px 8px 0 0;
  padding: 25px 25px 20px 34px;
  color: var(--c);
  display: inline-block;
  font: 720 rem(1.3)/1 "Nunito";
}
#back-btn {
  padding-left: 30px;
  color: var(--c, $color)
}
#view > form {
  width: 100%;
}
.delete, .play{
  text-align: center;
  background-color: $offbg;
  color: $color-offbg;
  text-transform: uppercase;
  font: 700 rem(.71)/1 'Nunito Sans';
  letter-spacing: -.04em;
  transition: .1s ease;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-auto-columns: min-content;
  gap: 10px;
  box-sizing: border-box;
  padding: 13px;
  width: min-content;
  &:hover {
    background: darken($offbg, 3%)
  }
}
.play { background-color: var(--bg);}

.entry {
  &:nth-of-type(1n) { --background: #{$a1}; --color: #{$color-a1}; }
  &:nth-of-type(2n) { --background: #{$offbg}; --color: #{$color-offbg}; }
  &:nth-of-type(3n) { --background: #{$a2}; --color: #{$color-a2}; }

  border: 1px solid var(--background);
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0 4px $shadow;
  display: grid;
  flex: 1 1 max(200px, 100%/3.1);

  > a {
    background: var(--background);
    color: var(--color);
    display: block;
    padding: 9.5px 12px;
    font: 500 rem(1.2)/1 'Poppins';
    border-radius: 3px 3px 0 0;
  }
  .options {
    background: alpha(var(--background), 25%);
    color: $color;
    display: flex;
    padding: 13px 18px;
    flex-wrap: wrap;
    gap: 6px;
    border-top: 1px solid var(--background);
    > * {
      text-transform: unset;
      background: var(--background);
      color: var(--color);
      border-radius: 4px;
      padding: 9px 13px;
      display: grid;
      align-items: center;
      font: 500 rem(1)/1 'Nunito';
      flex: 4 1;
      transition: .13s ease;
      &:hover {
        background: darken(var(--background), 10%)
      }
    }
  }
}

.details {
  display: flex;
  gap: 2px;
  margin-bottom: 6px;
  width: 100%;
  flex-wrap: wrap;
  input { 
    font-size: rem(1.07); 
    padding: 6px 13px; 
  }
  input[type="number"] {
    padding: 6px;
    width: unset;
  }
  input[type=text] {
    flex: 1 1 100px;
  }
}
.lists {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
}
.completed {
  display: grid;
  grid-auto-flow: row;
  cursor: pointer;
  align-items: center;
  input[type="checkbox"] {
    width: unset; cursor: pointer;
    margin: 0 6px;
    font-size: rem(2);
  }
}
.options .completed {
  flex-grow: unset;
  grid-template-columns: auto;
  background: var(--background);
}
.options .delete {
  background-color: $bg;
  color: $color;
  flex: 1 1;
  &:hover {background-color: darken($bg, 5%)}
}

#view {
  border-radius: 8px 0px 8px 0;
  padding: 18px;
  background: $bg;
  color: $color;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
#view #view { all: unset; width: 100%; }
#view > .entry {
  flex: 1 1 100%;
}
#courses #view > .entry {
  flex: 1 1 max(200px, 100%/3.1);;
}


.details { order: 1 }
#view > #view { order: 2 }
.entry, .lists { order: 3 }