/* scss variables */
@use '@css/SharedVariables.scss' as *;

#home {
    display: grid;
    grid-template: 'overview strip course' 'db db db' / 45% 15% auto;
    row-gap: min(60/1000*100vw, 30px);
    box-shadow: unset !important;
}
  
#todo {
    background: $a2;
    border-radius: 8px;
    overflow: hidden;
    grid-area: db;

    .top{
        display: grid;
        grid-template-columns: 60% auto;
        padding-bottom: 20px;
    }
    .db-link {
        background: $a1;
        color: $color-a1;
        font: 600 rem(.9)/1 "Poppins";
        text-transform: uppercase;
        letter-spacing: .05em;
        border-bottom-right-radius: 8px;
        padding: 33px 30px 28px;
    }
    .list {
        margin-right: 40px;
        background: $bg;
        border: 1.5px solid $a1;
        border-bottom: 0;
        border-left: 0;
        border-top-right-radius: 8px;
    }
    .empty_item {
        padding: 20px;
        background: $offbg;
    }
}

#course-todo {
    border-bottom: 1.5px solid $a1;
    form#scheduler {
        display: flex;
        flex-wrap: wrap;
        border-top-right-radius: 8px;
        overflow: hidden;
        gap: 0;

        input {
            flex: 1 1 100px;
            padding: 10px 13px;
        }
        input[type=submit] {
            text-transform: uppercase;
            font: 700 calc(var(--text-size, 16)* 0.71* 1px) / 1 "Nunito Sans";
            letter-spacing: -0.04em;
            transition: 0.1s ease;
            
        }
    }
    .entry { border: unset; }
}

#assignment-todo {
    .item {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 10px;
        align-items: center;
    }
    .item_title {
        padding: 18px 15px;
        text-align: left;
        font: 600 $rem/1 "Nunito";
    }
    .completed {
        padding: 10px;
    }
    .item:nth-of-type(odd) {
        background: $offbg;
        color: $color-offbg;
    }
}

#overview {
    background:$a1;
    color: $color-a1;
    border-radius: 8px;
    text-shadow: 0 4px 4px $shadow;
    display: grid;
    place-items: center;
    text-align: center;
    font: 800 $rem/1 "Poppins";
    letter-spacing: .04em;
    text-transform: uppercase;
    padding: 50px 0;
    span {
        display: grid;
        place-items: center;
        gap: 7px;
    }
    svg {
        fill: $color-a1;
        width: rem(3.5);
    }
}

#create {
    background: $a2;
    color: $color-a2;
    font: 600 rem(1.5)/1 "Poppins";
    padding: 35px 45px;
    padding-left: 40px;
    text-shadow: 0 2px 4px $shadow;
    border-radius: 0 8px 8px 0;
    display: grid;
    align-items: center;
    word-break: break-word;
}

.createstrip {
    background: $a1;
    width: 70%;
    justify-self: flex-end;
    border-radius: 8px 0 0 8px;
}

@media screen and (max-width: 550px) {
    #home {
        grid-template: "overview" "course" "db"/100%;
    }    
    .createstrip {display:none}
    #create {border-radius: 8px;}
    #todo .top {grid-template-columns: 80% 1fr;}
}