/* scss variables */
@use '@css/SharedVariables.scss' as *;

#new-settings {
    background: $form;
    color: $color;
    padding: 33px 40px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    input {
        cursor: pointer;
        height: 50px;
    }
    input[type=submit]{
        grid-column: 1/-1;
    }
}